@{
    ViewData["Title"] = "Home";
}

<div class="container text-center mt-5">
    <h1 class="display-3 fw-bold">Welcome to Airbnb</h1>
    <p class="lead">Find unique places to stay and explore new adventures.</p>
    <a href="/Home/Listings" class="btn btn custom-btn btn-lg">View Listings</a>
</div>
