@{
    ViewData["Title"] = "Listings";
}

<div class="container mt-5">
    <h1 class="mb-4">Available Listings</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/cozy_beach_house.jpg" class="card-img-top standard-image" alt="Listing 1">
                <div class="card-body">
                    <h5 class="card-title">Cozy Beach House</h5>
                    <p class="card-text">Enjoy stunning ocean views from this charming home.</p>
                    <a href="/Home/Details" class="btn btn custom-btn">View Details</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="~/images/mountain_cabin.jpg" class="card-img-top standard-image" alt="Listing 2">
                <div class="card-body">
                    <h5 class="card-title">Mountain Cabin</h5>
                    <p class="card-text">Escape to nature in this secluded mountain retreat.</p>
                    <a href="/Home/Details" class="btn btn custom-btn">View Details</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="~/images/urban_loft.jpg" class="card-img-top standard-image" alt="Listing 3">
                <div class="card-body">
                    <h5 class="card-title">Urban Loft</h5>
                    <p class="card-text">Stay in the heart of the city with modern amenities.</p>
                    <a href="/Home/Details" class="btn btn custom-btn">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
